# Build artifacts
dist/
build/
*.egg-info/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
